@import "./abstracts/mixins";
@import "./abstracts/variables";

.revolutionary-wrapper {
    display: flex;
    flex-direction: column;
}
.revolutionary-title {
    @include revolutionary-title;
    @media (min-width: $tablet-bp) {
        margin-top: 93.5px;
        margin-bottom: 0;
        font-size: 42px;
        line-height: 42px;
    }
    @media (min-width: $desktop-bp) {
        margin-top: 66px;
        font-size: 54px;
        line-height: 54px;
    }
}
.revolutionary-text {
    @include revolutionary-text;
    @media (min-width: $tablet-bp) {
        margin: 33px 40px 24px 39px;  
        font-size: 21px;
        line-height: 32px;  
    }
    @media (min-width: $desktop-bp) {
        margin: 35px 189px 13px 150px;  
    }
}
.revolutionary__btn-list {
    @include revolutionary__btn-list;
}
.revolutionary__list-item {
    @include revolutionary__list-item;
    &:nth-child(3) {
        margin-bottom: 0;
    }
    @media (min-width: $tablet-bp) {
        margin-bottom: 0;
    }
}
.revolutionary__btn-icon {
    padding-left: 8px;
}
.revolutionary__btn-link {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.revolutionary__btn-text {
    @include revolutionary__btn-text;
}
.revolutionary__link-counter {
    @include revolutionary__link-counter;
}