@mixin hereis-title {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: $purple;
    margin: 32px 47px 0 43px;
}
@mixin hereis__item-title {
    font-family: $montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    justify-content: center;
    color: $black;
    margin: 27px 26px 14px 24px;
}
@mixin hereis__item-text {
    font-family: $lato;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $grey;   
}
@mixin montserrat-reg {
    font: {
      family: $montserrat;
      weight: 400;
    }
}

@mixin montserrat-bold {
    font: {
      family: $montserrat;
      weight: bold;
    }
}

@mixin lato-reg {
    font: {
      family: $lato;
      weight: 400;
    }
}

@mixin lato-bold {
    font: {
      family: $lato;
      weight: bold;
    }
}