@import "./base/reset";

@import "./components/fork";
@import "./components/header";
@import "./components/hereis";
@import "./components/people";
@import "./components/revolutionary";

body {
    max-width: 1200px;
    // padding: 0 10px;
    margin: 0 auto;
}

.people > .container,
.revolutionary-wrapper,
.hereis-wrapper,
.fork-wrapper {
    padding: 0 10px;
}
